
@{
    ViewBag.Title = "Index";
}

<h2>Administrador</h2>

<div class="col-lg-6 col-lg-offset-3">
    <input type="submit" class="btn btn-primary" onclick="document.location.href = '@Url.Content("~/Profesor/Index")'" value="Administrar Profesores" />
    <input type="submit" class="btn btn-primary" onclick="document.location.href = '@Url.Content("~/Subject/Index")'" value="Administrar Materias" />
</div>

