
@{
    ViewBag.Title = "Index";
}

<h2>Bienvenido Estudiante</h2>

<h3> Listar materias disponibles </h3>

<div>
    <input type="submit" class="btn btn-success" onclick="document.location.href = '@Url.Content("~/SubjectStudent/Index")'" value="Mostrar Materias Disponibles" />
</div>